.menu h2{
    color:rgb(49, 121, 62);
    text-decoration-style:double;
    font-size:x-large;

}

.menu li{
    font-size: medium;
    color: rgb(173, 107, 63);
}

.menu p{
    font-size: small;
    color: rgb(94, 31, 31);


}

#about1{
    background-color: blueviolet;
    color:rgb(0, 255, 174)
    
}

#about2{
    
    background-color: rgb(0, 145, 255);
}

